body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1e293b;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 60px;
  text-align: center;
}

.skills span {
  background: #22c55e;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px;
  cursor: pointer;
}

a button {
  background: #22c55e;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

a button:hover {
  background: #16a34a;
}
